body{
    margin: 0;
    pad: 0;
    background: linear-gradient(to left bottom,rgba(8, 56, 83, 0.5),rgba(8, 56, 83, 0.5));
}
#home{
    top: 2vh;
    left: 3vw;
    font-size: 1.1vw;
    color: rgb(0, 0, 0);
    position: absolute;
    background: none;
    border: none;
    width: fit-content;
    height: fit-content;
}
.home #home:hover{
    color: greenyellow;
}
a{
    text-decoration: none;
}
.genrate{
   margin-left: 30vw;
   margin-top: 30vh;
    width: 30vw;
    height: 4vh;
    padding: 0.4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}
.genrate_no{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}
.genrate_no #lott_no{
    border: 1px solid greenyellow;
    width: 100%;
    height: 100%;
    margin-left: 0.4vw;
    align-self: center;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: greenyellow;
}
#g_btt{
    border-radius: 2rem;
    background-color: greenyellow;
    width: 20%;
    height: 100%;
    font-size: 1.3vw;
}